.btn__cart{
    width: 100px;
    height: 22px;
    font-size: 1rem;
    background-color: #d51920;
    color: white;
    font-weight: 700;
    font-family: 'FranklinGothic';
    border: none;
    cursor:pointer;
    margin:auto 0;
}
.input__cart{
    width: 150px;
    border: none;
    border-radius: 0;
}
.container__quickorder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 440px){
    .form__submit{
        margin-top: auto;
    }
    .container__quickorder{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}